# Imports

In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model as lm

 # Loading data

In [4]:
!ls -l House_Rocket/

total 2460
-rw-r--r-- 1 Anderson Lomba 197121 2515206 Sep 19  2019 kc_house_data.csv

In [5]:
df_raw = pd.read_csv('House_Rocket/kc_house_data.csv')

In [6]:
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Data Preparation

In [7]:
# features (itens principais)
x_train = df_raw.drop(['price', 'date'], axis=1 )

# response variable
y_train = df_raw['price'].copy()

In [20]:
x_train.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [21]:
y_train.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

# Model Training

In [13]:
# model description
model_lr = lm.LinearRegression()

# model training
model_lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [14]:
# prediction
pred = model_lr.predict(x_train)

In [26]:
pred[0:100]

array([ 205766.26460966,  731219.64982999,  379097.88265414,
        457424.13432532,  444789.05471815, 1451676.80046204,
        277965.14285814,  135261.77208382,  329843.81624389,
        250731.25050368,  870212.88141863,  437789.72121279,
        600311.43498098,  316903.13655578,  611557.85739106,
        944453.29692628,  456573.68626297,  539004.69481041,
        335024.2562983 ,  210585.0743493 ,  466088.95603631,
       1116489.11078658,  330386.45026645,  130784.11743751,
        545423.99906289,  310538.26026997,  802018.13764889,
        651875.20382833,  457699.20615296,  650018.45024579,
        541202.92170094,  332196.71884798,  655096.04733205,
        555240.33756539,  319817.17474405,  804301.35470899,
        201145.17195303,  861533.54324509,  103130.75983534,
        585745.32147537,  664511.50307357,  742662.60624406,
        863042.39845948,  508391.02023426,  153710.08047337,
        811721.66516482,   32096.77784448,  762323.19584892,
        417855.61065268, 1530097.62528197,  185578.71195409,
        658157.92713997,  471090.25997119,  498290.25253086,
        789802.28617636,  773293.96241438,  271727.39865387,
        467150.37020335, 1056923.77322511,  443395.18842547,
        694554.24465637,  237766.54435065,  598068.69850036,
        408857.34579793,  376054.00863781,  744927.55137078,
        879888.0810555 ,  321711.4518623 ,  121851.74702504,
        783019.32595636, 1399362.50569136,  460538.4963378 ,
        800124.29246179,  390335.05311718,  300689.96053668,
        991726.69237242,  413248.79001206,  310476.89799593,
        413980.07473523,  802185.44256437,  412926.1563399 ,
        218377.00510953,  449654.54032653,  434848.80269799,
        261756.27101992,  819846.02518003,  407338.51403983,
        708935.71931329,  424310.54489836,  177895.94502968,
        297041.36776168,  958741.14250695,  190018.37500697,
        603396.37010424,  603396.37010424,  795519.96750262,
        354071.72245305,  155387.93358117,  244625.6643778 ,
        645182.9588283 ])

# Performance Metrics

In [15]:
df1 = df_raw.copy()

In [16]:
df1['prediction'] = pred

In [17]:
df1[['id', 'price', 'prediction']].head()

           id     price     prediction
0  7129300520  221900.0  205766.264610
1  6414100192  538000.0  731219.649830
2  5631500400  180000.0  379097.882654
3  2487200875  604000.0  457424.134325
4  1954400510  510000.0  444789.054718

In [18]:
df1['error'] = df1['price'] - df1['prediction']

In [24]:
df1[['id', 'price', 'prediction', 'error', 'error_abs', 'error_perc', 'error_perc_abs']].head()

,id,price,prediction,error,error_abs,error_perc,error_perc_abs
0,7129300520,221900.0,205766.264610,16133.735390,16133.735390,0.072707,0.072707
1,6414100192,538000.0,731219.649830,-193219.649830,193219.649830,-0.359144,0.359144
2,5631500400,180000.0,379097.882654,-199097.882654,199097.882654,-1.106099,1.106099
3,2487200875,604000.0,457424.134325,146575.865675,146575.865675,0.242675,0.242675
4,1954400510,510000.0,444789.054718,65210.945282,65210.945282,0.127865,0.127865

In [20]:
df1[['id', 'price', 'prediction', 'error']].head()
df1['error_abs'] = np.abs(df1['error'])

In [21]:
np.sum( df1['error_abs']) /len(df1['error_abs'])

125921.54419398027

In [26]:
# mean absolute error
mae = np.mean( df1['error_abs'])
print ('MAE: {}'.format(mae))

MAE: 125921.54419398053

In [23]:

df1['error_abs'] = np.abs(df1['error'])

df1['error_perc'] = ((df1['price'] - df1['prediction']) / df1['price'])
df1['error_perc_abs'] = np.abs(df1['error_perc'])

In [27]:
# mean absolute percentage error
mape =np.mean(df1['error_perc_abs'])
print('MAPE:{}'.format(mape))

MAPE:0.25580512536185995