# Imports

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model    as lm
from sklearn import metrics         as m
from sklearn import model_selection as ms

 # Loading data

In [3]:
!ls -l House_Rocket/

total 2460
-rw-r--r-- 1 Anderson Lomba 197121 2515206 Sep 19  2019 kc_house_data.csv

In [4]:
df_raw = pd.read_csv('House_Rocket/kc_house_data.csv')

In [5]:
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Data Preparation

In [6]:
# features (itens principais)
X = df_raw.drop(['price', 'date'], axis=1 )

# response variable
y = df_raw['price'].copy()

In [7]:
x_train, x_test, y_train, y_test = ms.train_test_split( X,y, test_size=0.2, random_state=42)

# Model Training

In [8]:
# model description
model_lr = lm.LinearRegression()

# model training
model_lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
# prediction - training
pred_train = model_lr.predict( x_train )

# prediction - test
pred_test = model_lr.predict( x_test )

# Performance Metrics

In [10]:
# training - MAE, MAPE
mae_train = m.mean_absolute_error( y_train, pred_train)
mape_train = np.mean(np.abs( (y_train - pred_train) / y_train))

# test
mae_test = m.mean_absolute_error( y_test, pred_test)
mape_test = np.mean(np.abs( (y_test - pred_test) / y_test))

In [11]:
mae_train

125042.2552051424

In [12]:
mape_train

0.2554198921197779

In [13]:
data = {
'Dataframe' : ['training', 'test'],
'MAE': [mae_train, mae_test],
'MAPE' : [mape_train, mape_test]}
   
pd.DataFrame(data)

  Dataframe            MAE     MAPE
0  training  125042.255205  0.25542
1      test  127474.102963  0.24959