# Imports

In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df_raw = pd.read_fwf('House_Rocket/altura_peso.csv')
df_raw.columns = ['altura','peso']
df_raw

          altura  peso
0  "","63","127"   NaN
1  "","64","121"   NaN
2  "","66","142"   NaN
3  "","69","157"   NaN
4  "","65","162"   NaN
5  "","71","159"   NaN
6  "","71","169"   NaN
7  "","72","165"   NaN
8  "","72","165"   NaN
9  "","72","165"   NaN